html, body {
	margin: 0;
  	padding: 0;
	font-family: 'Dosis', sans-serif;
}

.container {
  max-width: 100%;
}

/* header */

.header {
	background-color: rgb(33, 3, 71);
	height: 60px;
	margin-bottom: 15px;
}

.header .container-fluid .pull-right ul a {
	text-decoration: none;
}

.header .container-fluid .pull-right ul a li.images {
	margin-left: 5px !important;
}

.header .container-fluid .pull-right ul a li.images, .header .container-fluid .pull-right ul a li.br {
	margin-top: 10px !important;
}

.header .container-fluid .pull-right ul a li img {
	width: 35px;
}

.header .container-fluid .pull-right ul a li {
	list-style: none;
	display: inline-block;
	color: white;
	margin-top: 15px;
	margin-left: 20px;
	border: 1px solid transparent;
	transition: 0.7s;
	font-size: 18px;
}

.header .container-fluid .pull-right ul a li:hover.images, .header .container-fluid .pull-right ul a li:hover.br {
	border: 1px solid transparent !important;
}
.header .container-fluid .pull-right ul a li:hover {
	border-bottom: 1px solid white;
}

.header .container-fluid .pull-left img {
	width: 95px;
	margin-left: 15px;
}

/* data */


.data .container .row .col-md-4 img {
	margin: 0 auto 0 auto;
}

.data .container .row ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

.data .container .row .col-md-4 .sec p#estabelecimento {
	margin-top: 10px;
	margin-left: 50px;
}

.data .container .row ul a li {
	list-style: none;
	display: inline-block;
	text-align: center;
	background-color: white;
	color: rgb(41,26,76);
	padding: 3px 8px;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 25px;
	border: 1px solid transparent;
	font-weight: 900;
}

.data .container .row .col-md-4 .mov {
	background-color: rgba(41,26,76,1);
	border-radius: 5px;
	width: 100%;
}
.data .container .row .col-md-4 .sec {
	margin-bottom: 5px;
}

.data .container .row p {
	color: white;
	margin-bottom: 10px;
}
.data .container .row ul a li:hover {
	color: white;
	background-color: rgb(41,26,76);
	transition: 0.5s;
	border: 1px solid white;
	font-weight: 900;
}

.data .container .row .col-md-4 .sec #date {
	margin-top: 10px;
	font-size: 15px;
}

.data .container .row .col-md-4 .sec #datetwo {
	margin-top: 10px;
	font-size: 15px;
}

.data .container .row .col-md-4 .sec #datethree {
	margin-top: 10px;
	font-size: 15px;
}
.data .container .row .col-md-4 .sec p span#legend {
	padding: 8px 12px;
	background-color: rgba(255, 225, 79,1);
	border-radius: 0;
	display: inline-block;
	margin-left: 8px;
	margin-right: 2px;
	margin-bottom: -3px;
}

.data .container .row .col-md-4 .sec span {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid white;
	font-size: 16px;
	color: rgb(41,26,76);
	text-align: center;
}

.data .container .row p strong#green {
	color: rgb(71, 237, 68);
	font-size: 18px;
	float: right;
	border-bottom: 2px solid rgba(71, 237, 68);
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
}

.data .container .row p#test{
	margin-top: 20px;
	margin-bottom: 19px;
}

.data .container .row p strong#green:hover {
	color: rgb(71, 237, 68);
	border: 2px solid rgb(71, 237, 68);
	transition: 0.5s;
}

.data .container .row p span#legendtwo {
	padding: 8px 12px;
	background-color: rgba(255, 0, 0,0.6);
	border-radius: 0;
	display: inline-block;
	margin-left: 8px;
	margin-right: 2px;
	margin-bottom: -3px;
}

.dropbtn {
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: -12px;
}

.dropbtn-three {
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: -12px;
    margin-top: 10px;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: white; 
    color: rgb(41,26,76);
    border-radius: 5px;
}

.dropbtn-three:hover, .dropbtn:focus {
    background-color: white; 
    color: rgb(41,26,76);
    border-radius: 5px;
}


.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -32px;
}

.dropdown-content {
    display: none;
    position: relative;
    margin: -15px -20px -10px -100px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-three {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: -15px -20px -10px -100px;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content-three a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: rgba(41,26,76,0.9); color: white;}

.show {display:block;}

.data .container .row p strong#man {
	color: white;
	font-size: 18px;
	border: 2px solid rgba(18,160,255,1);
	margin-left: 8px;
	background-color: rgba(18,160,255,1);
}

.data .container .row p strong#man:hover {
	color: rgba(18,160,255,1);
	border: 2px solid rgba(18,160,255,1);
	transition: 0.5s;
	background-color: white;
}

.data .container .row p strong#woman {
	color: white;
	font-size: 18px;
	border: 2px solid rgba(206,95,250,1);
	margin-left: 8px;
	background-color: rgba(206,95,250,1);
}

.data .container .row p strong#woman:hover {
	color: rgba(206,95,250,1);
	border: 2px solid rgba(206,95,250,1);
	transition: 0.5s;
	background-color: white;
}



.data .container .row .mov span#emotion {
	background-color: white;
	padding: 0 10px;
}

.data .container .row .mov .col-md-6 p {
	font-size: 15px;
	font-weight: 800;
}